@charset "UTF-8";
body {
    margin: 0;
    background-color: #E4DBD0;
    width: auto;
    height: auto;
}
wrapper {
    width: 1366px;
    margin: auto;
    display: block;
    background-color: #AD8763;
}
nav {
    background-color: #5C735E;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
ul {
    padding: 0;
    margin: 0;
}
ul a li {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
ul a li:hover {
    background-color: #CC7779;
}
main {
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    margin-left: 150px;
    text-align: center;
}
divslide {
	margin-left: 150px;
    text-align: center;
}
h2 {
    color: #E4DBD0;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-align: center;
}
h1 {
    color: #E4DBD0;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    margin-left: 20px;
}
footer {
    padding: 10px 20px;
    color: #E4DBD0;
    background-color: #5C735E;
}
header {
    padding: 10px 20px;
    background-color: #5C735E;
    background-image: url(kimtour.jpg);
}
img {
    margin-left: auto;
    width: auto;
    height: 498px;
    text-align: center;
}
iframe {
    padding: 10px;
    border-color: #E4DBD0;
    margin-bottom: 20px;
}
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

footer p {
    color: #E4DBD0;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
div  {
    display: inline-block;
    width: 150px;
    height: 150px;
	 text-align: center;
}
.instagram-media {
    display: inline-block;
    border-color: #5C735E;
    border-radius: 15px;
	 text-align: center;
}
.socialicons a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: rgba(243, 230, 161, 0.53);
}
.fa-instagram {
  background: #125688;
  color: #E4DBD0;
}
.fa-youtube {
  background: #bb0000;
  color: #E4DBD0;
}

.fa-facebook {
  background: #3B5998;
  color: #E4DBD0;
}
.fa-twitter {
  background: #55ACEE;
  color: #E4DBD0;
}
.fa:hover {
    opacity: 0.7;
}